html, body {
	padding: 20;
	margin: 25;
	box-sizing: border-box;
	font-family: Helvetica, Calibri, Roboto, Open Sans, sans-serif;
}

* {
	box-sizing: inherit;
}

svg {
	margin:auto;
	display:block;
}

.hidden {
	display: none;
}

.legend-size circle {
	fill: #e41a1c;
}
